<div class="container">
	<p>Created by Quang-Thuy Hoang</p>
	<img class="img-thumbnail" src="https://avatars2.githubusercontent.com/u/24426277">
	<div class="row text-center">
		<a href="https://www.freecodecamp.org/averageaznguy"><i class="fa fa-free-code-camp fa-2x" ></i></a>
		<a href="https://www.linkedin.com/in/quang-thuy-hoang-525b611b/"><i class="fa fa-linkedin fa-2x" ></i></a>
		<a href="https://github.com/averageAZNguy"><i class="fa fa-github fa-2x"></i></a>
	</div>
		
</div>
</body>
</html>